<!-- BEGIN_INCLUDE(cassandradbcql:execute-cql) -->
	<cassandradbcql:execute-cql cql="Select * from persons where id = ?" bulkMode="false">
    	<cassandradbcql:params>
    		<cassandradbcql:param>payload['id']</cassandradbcql:param>
    	</cassandradbcql:params>
    </cassandradbcql:execute-cql>
<!-- END_INCLUDE(cassandradbcql:execute-cql) -->